snippet a
	<a href="${1}">${2}</a>
snippet p
	<p ${1}>${2}</p>
snippet sdiv
	<div ${1}>${2}</div>

snippet heading h1
	<h1 ${1}>${2}</h1>
snippet heading h2
	<h2 ${1}>${2}</h2>
snippet heading h3
	<h3 ${1}>${2}</h3>
snippet heading h4
	<h4 ${1}>${2}</h4>
snippet heading h5
	<h5 ${1}>${2}</h5>

snippet st
	<style>
		${1}
	</style>

