snippet a
	<a href="${1}">${2}</a>
snippet p
	<p ${1}>${2}</p>
snippet sdiv
	<div ${1}>${2}</div>

snippet h h1
	<h1 ${1}>${2}</h1>
snippet h h2
	<h2 ${1}>${2}</h2>
snippet h h3
	<h3 ${1}>${2}</h3>
snippet h h4
	<h4 ${1}>${2}</h4>
snippet h h5
	<h5 ${1}>${2}</h5>

snippet st
	<style>
		${1}
	</style>

snippet figure
	<figure>
	<img src="${1}">
	<figcaption>${2}</figcaption>
	</figure>

snippet c
	class="${1}" 
